<mat-toolbar color="accent">
    <div class=" d-flex justify-content-between">
        <div>General Setting </div>
     
    </div>



</mat-toolbar>


<div class=" container-fluid pt-2">

    <div class=" card mb-3">
        <div class=" card-body">

            <form>


                <div class="row">
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Min Withdraw limit</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class=" form-group">
                            <label class="form-control-label">USDT Rate</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-4 pt-md-4 mt-3">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Is Admin USD Rate Active
                        </label>
                      </div>
</div>
<div class="col-md-3 pt-md-4">
    <button class="btn btn-danger   btn-min-width">Save</button>
</div>

                </div>
            

            </form>


        </div>
    </div>




</div>