
<a mat-list-item  routerLinkActive="active"   (click)="onItemSelected(item)"
[ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
   class="menu-list-item">
   <div class="d-flex align-items-center">
    <mat-icon class="routeIcon material-icons-outlined text-primary">{{item.iconName}}</mat-icon>
    {{item.displayName}}
   </div>
 
 
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon class="text-primary" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      arrow_drop_down
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item class="navchild" *ngFor="let child of item.children" [item]="child" [depth]="depth">
  </app-menu-list-item>
</div>
