table{ width:100% ;border:none !important; 
    tr{

        th{
            &:last-child {width:148px;}
        }
        &:last-child{
            td{border: none !important;}
        }
    }
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 15px;
}
mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-color: #e3e9ec;
}
th.mat-header-cell{ border-width: 1.5px;}
tr.mat-header-row {
    height: 45px; background: #f6f9fc;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow:none !important;
}
.btn-link {
    font-weight: normal;
    box-shadow: none;
    color: #272e50;
}
.btn-danger{ min-width: 60px;}



