<mat-toolbar color="accent">
    <div class=" d-flex justify-content-between">
        <div>Plan Creation </div>
        <select class="form-control ml-3">
            <option>
                ETH Plan
            </option>
            <option>
                BTC Plan
            </option>
        </select>
    </div>



</mat-toolbar>


<div class=" container-fluid pt-2">

    <div class=" card mb-3">
        <div class=" card-body">

            <form>


                <div class="row">
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Plan Name</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Plan Tag</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Contract Month</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Minimum Unit</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label"> Max Unit</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label"> Per Unit Price</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label"> Is Stock Available</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Maintenance Percentage</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Discount</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" form-group">
                            <label class="form-control-label">Payout</label>
                            <input type="text" class=" form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class=" form-group">
                            <label class="form-control-label">Comment</label>
                            <textarea class="form-control"></textarea>

                        </div>
                    </div>



                </div>
                <div class="d-flex  w-100 justify-content-end ">

                    <button class="btn btn-danger   btn-min-width">Save</button>
                </div>

            </form>


        </div>
    </div>

    <div class=" card mb-5">
        <div class=" card-header  bg-primary">
            Plan List
        </div>



        <app-posteddatatable class=""></app-posteddatatable>

    </div>




</div>